name: nodejs_blog_practica

on:
  push:
    branches:
      - main

jobs:
  linter_job:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Clean npm cache
        run: npm cache clean --force

      - name: Set npm registry
        run: npm set registry https://registry.npmjs.org/

      - name: Install dependencies
        run: npm install

      - name: Run linter
        run: npm run lint

  Cypress_job:
    needs: linter_job
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          start: npm run start
          wait-on: "http://localhost:3000"
          wait-on-timeout: 60
        continue-on-error: true

      - name: Save Cypress test results
        run: |
          echo "Tests de Cypress finalizado" > result.txt
          ls -l
          cp cypress/videos/*.mp4 . || true
          cat result.txt
        shell: bash

      - name: Verify result.txt
        run: cat result.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: cypress-results
          path: result.txt

  Add_badge_job:
    needs: Cypress_job
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Retrieve Cypress results
        uses: actions/download-artifact@v4
        with:
          name: cypress-results
          path: . # Descargar en el directorio raíz

      - name: generate_output
        id: generate_output
        run: |
          echo "cypress_outcome=$(cat result.txt)" >> $GITHUB_ENV

      - name: Add badge to README
        uses: ./ #action.yml
        with:
          outcome: ${{ env.cypress_outcome }}

      - name: Hace un commit de los cambios del README
        uses: EndBug/add-and-commit@v9.1.3
        with:
          add: README.md
          author_name: luisff73
          author_email: jvrluis@hotmail.com
          message: "Actualizando el resultado del test badge"
          push: true
          github_token: ${{ secrets.README_TOKEN }}

  Deploy_job:
    runs-on: ubuntu-24.04
    needs: Cypress_job # Depende del Cypress_job
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to Vercel
        uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }} # Configura el token a secrets
          vercel-args: "--prod"
          working-directory: ./
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }} # Configura el ID de la organización a secrets
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }} # Configura el ID del proyecto a secrets
